<div class="Top-Nav" click>
    <div class="capgeminiLogo">
      <img src="./assets/images/Capgemini.png" alt="Company Logo" class="Capgemini-Logo"/>
    </div>
    <!-- <div class="verticalDivider"></div> -->
    <span class="tezportal">
      i-Transform<span class="itransform">Tez</span>
      <br>
      <span class="itransform">Talent Excellence Zone</span>
    </span>
    <div class="headerRight">
      <div class="dashboard-expand">
        <button type="button" class="userprofileimage">
          <div class="display">
            <img class="user-image" src="./assets/images/userImage.png"  width="20px" height="20px" />
            <div class="mainuser">
              <div class="display">
                <h4 class="user-name">Manjima Bhusan</h4>
              </div>
            </div>
          </div>
        </button>
      </div>
      <div class="logoutIcon">
        <button type="button" class="logoutButton">
          <span>
            <img src="./assets/images/logoutButtonIcon.svg" alt="Logout Logo" />
          </span>
        </button>
      </div>
    </div>
  </div>


